<header class="header">
  <a routerLink="/home" class="header-left">
    <div class="logo">
      <img src="/conectaDoacLogo.jpg" alt="Logo ConectaDoa" />
      <h2>ConectaDoa</h2>
    </div>
  </a>

  <!-- Menu -->
  <nav class="menu" [class.active]="isMenuOpen">
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Como funciona
    </a>
    <a routerLink="/instituicoes" routerLinkActive="active">Instituições</a>
    <a routerLink="/stories" routerLinkActive="active">Histórias</a>

    <div class="auth" *ngIf="!auth.hasToken(); else loggedIn">
      <button class="btn vermelho" routerLink="/login">Entrar</button>

      <div class="dropdown">
        <button class="btn claro" (click)="toggleDropdown()">
          Cadastrar
          <span [class.rotated]="isOpen">⮟</span>
        </button>

        <div class="dropdown-content" *ngIf="isOpen">
          <a routerLink="/donor/register" (click)="isOpen = false">Sou Doador</a>
          <a routerLink="/institution/register" (click)="isOpen = false">Sou Instituição</a>
        </div>
      </div>
    </div>

    <ng-template #loggedIn>
      <div class="auth">
        <button class="btn claro" (click)="logout()">Sair</button>
      </div>
    </ng-template>
  </nav>

  <!-- Botão hamburger -->
  <div class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
