/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #f3e7e8;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 150px;
}
img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  width: 500px, ;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  color: #1b0e0e;
}

.menu a.active {
  color: #ea2832;
}

/* BOTÕES */
.auth {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn.vermelho {
  background: #ea2832;
  color: #fff;
}

.btn.claro {
  background: #f3e7e8;
  color: #1b0e0e;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #1b0e0e;
  border-radius: 5px;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* MOBILE */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
