<app-header></app-header>


<main class="container">
  
  <div class="form-box" [class.hidden]="currentStep !== 1">
    <h1 class="form-title">Cadastrar Instituição</h1>
    <p class="step">Passo 1 de 4</p>

    <div class="progress-bar">
      <div class="progress" [style.width]="'25%'"></div>
    </div>

    <label for="cnpj" class="label">CNPJ</label>
    <input 
      type="text" 
      id="cnpj" 
      class="input" 
      placeholder="00.000.000/0000-00" 
      [(ngModel)]="cnpj"
      (input)="formatCnpj($event)"
      maxlength="18"
    />

    <p class="terms">
      Ao prosseguir, você concorda com nossos: <br> 
      <a href="#">Termos de Uso</a> e
      <a href="#">Política de Privacidade</a>.
    </p>

    <button class="btn-next" (click)="nextStep()" [disabled]="cnpj.length !== 18">Próximo</button>
  </div>

 
  <div class="form-box" [class.hidden]="currentStep !== 2">
    <h1 class="form-title">Documentos Obrigatórios</h1>
    <p class="step">Passo 2 de 4</p>

    <div class="progress-bar">
      <div class="progress" [style.width]="'50%'"></div>
    </div>

    <label for="estatuto-social" class="label">Estatuto Social registrado em cartório</label>
    <input type="file" id="estatuto-social" class="input" (change)="onFileSelected($event, 'estatutoSocial')" />

    <label for="ata-diretoria" class="label">Ata de eleição da diretoria vigente</label>
    <input type="file" id="ata-diretoria" class="input" (change)="onFileSelected($event, 'ataDiretoria')" />

    <label for="certificado-federal" class="label">Certificado negativa da Receita Federal</label>
    <input type="file" id="certificado-federal" class="input" (change)="onFileSelected($event, 'certificadoFederal')" />

    <label for="certificado-oscip" class="label">Certificado de OSCIP/ONG</label>
    <input type="file" id="certificado-oscip" class="input" (change)="onFileSelected($event, 'certificadoOscip')" />

    <label for="alvara-funcionamento" class="label">Alvará de funcionamento</label>
    <input type="file" id="alvara-funcionamento" class="input" (change)="onFileSelected($event, 'alvaraFuncionamento')" />

    <div class="security">
      <input type="checkbox" id="assinatura-digital" [(ngModel)]="assinaturaDigital" />
      <label for="assinatura-digital">Assinatura digital e validação em duas etapas</label>
    </div>

    <div class="security">
      <input type="checkbox" id="vinculo-conta" [(ngModel)]="vinculoConta" />
      <label for="vinculo-conta">Vincular conta bancária</label>
    </div>

    <button class="btn-next" (click)="submitDocuments()">Enviar documentos</button>
  </div>
</main>



<app-footer></app-footer>
