/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #222;
  background: #fff;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #fff;
  border-right: 1px solid #eee;
  padding: 20px;
}

.logo {
  font-size: 1.4rem;
  color: #e53935;
}

.subtitle {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu a {
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  color: #333;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu a:hover {
  background: #f5f5f5;
}

.menu a.active {
  background: #e53935;
  color: #fff;
}

.main {
  flex: 1;
  padding: 30px;
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.main .sub {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-bottom: 15px;
}

.card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.card h3 {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #444;
}

.card .value {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.card .value.vermelho {
  color: #e53935;
}


.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.btn {
  background: #e53935;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #c62828;
}


.section-title {
  margin-bottom: 15px;
  margin-top: 25px;
}


.table-wrapper {
  overflow-x: auto;
  margin-bottom: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #e53935;
  color: #fff;
}

th, td {
  padding: 14px 12px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.badge {
  background: #e53935;
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  display: inline-block;
}


.docs {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.doc-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.icon-box {
  width: 50px;
  height: 50px;
  background: #f5f3f3;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box i {
  font-size: 1.3rem;
  color: #2b2b2b;
}

.desc {
  color: #888;
  font-size: 0.9rem;
}

/* responsivo verificar depois */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .menu {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }

  .main {
    padding: 15px;
  }

  .btn-wrapper {
    justify-content: center;
  }
}

.site-footer {
  background-color: #fefefe;
  color: #803838;
  text-align: center;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
  border-top: 1px solid #fefefe
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.footer-links a {
  color: #803838;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #a05050;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons a {
  color: #803838;
  font-size: 22px;
  margin: 0 12px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #a05050;
}

copyright {
  font-size: 14px;
  color: #803838;
}
