<app-header></app-header>
<div class="container">
  <aside class="sidebar">
    <!-- <h2 class="logo">ConectaDoa</h2> -->
    <p class="subtitle">Painel do Doador</p>

    <nav class="menu">
      <a href="#" class="active"><i class="fa-solid fa-house"></i> Início</a>
      <a href="#"><i class="fa-solid fa-hand-holding-heart"></i> Doações</a>
      <a href="#"><i class="fa-solid fa-bullhorn"></i> Campanhas</a>
      <a href="#"><i class="fa-solid fa-file"></i> Documentos</a>
      <a href="#"><i class="fa-solid fa-gear"></i> Configurações</a>
    </nav>
  </aside>

  <main class="main">
    <h1>Painel</h1>
    <h2 class="sub">Níveis de estoque</h2>

    <div class="cards">
      <div class="card">
        <h3>Sangue</h3>
        <p class="value vermelho">150 Unidades</p>
      </div>
      <div class="card">
        <h3>Roupas</h3>
        <p class="value">20 Itens</p>
      </div>
      <div class="card">
        <h3>Alimentos</h3>
        <p class="value">300 kg</p>
      </div>
      <div class="card">
        <h3>Arrecadações de fundos</h3>
        <p class="value">R$ 5.000</p>
      </div>
    </div>

    <div class="btn-wrapper">
      <button class="btn">Atualizar Estoque</button>
    </div>

    <h2 class="section-title">Relatórios de Doações</h2>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Data</th>
            <th>Doador</th>
            <th>Tipo</th>
            <th>Quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2024-03-15</td>
            <td>Lara V.</td>
            <td>Sangue</td>
            <td><span class="badge">2 Unidades</span></td>
          </tr>
          <tr>
            <td>2025-03-16</td>
            <td>Lucas M.</td>
            <td>Roupas</td>
            <td><span class="badge">50 Itens</span></td>
          </tr>
          <tr>
            <td>2025-03-17</td>
            <td>Juliana V.</td>
            <td>Alimentos</td>
            <td><span class="badge">100kg</span></td>
          </tr>
          <tr>
            <td>2025-18</td>
            <td>Matheus O.</td>
            <td>Arrecadação de Fundos</td>
            <td><span class="badge">R$ 1.000</span></td>
          </tr>
          <tr>
            <td>2025-19</td>
            <td>Domingos C.</td>
            <td>Sangue</td>
            <td><span class="badge">1 Unidade</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <h2 class="section-title">Documentos e contas bancárias</h2>
    <div class="docs">
      <div class="doc-item">
        <div class="icon-box">
          <i class="fa-solid fa-shield-halved"></i>
        </div>
        <div>
          <p><strong>Verificação governamental</strong></p>
          <p class="desc">Verificado</p>
        </div>
      </div>
      <div class="doc-item">
        <div class="icon-box">
          <i class="fa-solid fa-building-columns"></i>
        </div>
        <div>
          <p><strong>Conta Bancária</strong></p>
          <p class="desc">Conta terminada em 1234</p>
        </div>
      </div>
    </div>
  </main>
</div>

<app-footer></app-footer>
