<footer class="footer">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Conecta Doa</h3>
      </div>

      <!-- Links do rodapé -->
      <div class="footer-section">
        <a routerLink="/about">Sobre Nós</a>
        <a routerLink="/contato">Contato</a>
        <a routerLink="/term">Termo de Uso</a>
        <a routerLink="/privacity">Política de Privacidade</a>
      </div>

      <!-- Direitos Autorais -->
      <div class="footer-bottom">
        <p>&copy; {{ anoAtual }} Conecta Doa. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
