
<!-- Seção: Titulo -->
<div class="container">
  <div class="instituicoes-text">
    <h2>Instituições</h2>
  </div>
<!-- Fim da Seção: Titulo -->

<!-- Seção: Barra de pesquisa -->

 <div class="busca-box">
  <img src="lupa.png" alt="Lupa" class="icon-lupa" />
  <input
    type="text"
    class="form-control busca-input"
    placeholder="Buscar instituições"
    [(ngModel)]="searchTerm"
  />
</div>
<!-- Fim da Seção: Barra de pesquisa -->


<!-- Seção: Informações das instituições -->
<div class="board">
  <div *ngFor="let instituicao of instituicoes" class="inst-card">
    <div class="inst-header">
<img
  [src]="instituicao.imagem"
  alt="Instituição"
  style="width: 120px; height: 120px; "
/>
      <div class="inst-info">
        <h6 class="inst-nome">{{ instituicao.nome }}</h6>
        <p class="inst-local">Localização {{ instituicao.local }}</p>
      </div>
    </div>
<!-- Fim da Seção: Informações das instituições -->
 

  <!-- Seção: Barra de progresso -->

    <div class="inst-body">
      <div *ngFor="let item of instituicao.necessidades" class="need">
        <h1 class="need-title">{{ item.label }}</h1>
        <div class="progress">
          <div
            class="progress-bar"
            [style.width.%]="item.porcentagem"
          >
            {{ item.porcentagem }}%
          </div>
        </div>
      </div>
    </div>

<!-- fim da Seção: Barra de progresso -->

<!-- Seção: Botão -->

    <div class="inst-footer">
      <button class="btn btn-danger">Quero Doar</button>
    </div>
  </div>

<!-- Fim da Seção: Botão -->


    
  </div>
</div>